@use "./variables" as *;
@use "./font" as *;

//breakpoints

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin body-medium-mobile {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

//   @mixin desktop-wide {
//     @media (min-width: $desktop-wide) {
//       @content;
//     }
//   }

//

// searchbar
@mixin searchbar {
  border-radius: 20px;
  background: url("../../assets/Icons/search-24px.svg") no-repeat;
  background-position: center right 1rem;
  height: 36px;
  border: 1px solid $secondary-cloud;

  @include tablet {
    height: 38px;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
}

// button
@mixin button {
  border-radius: 20px;
  background-color: $primary-indigo;
  color: $primary-white;
  border: none;
  height: 36px;

  &:hover {
    background-color: $background-graphite;
  }
  @include tablet {
    height: 38px;
  }
}

//tags
@mixin stock {
  border-radius: 20px;
  padding-right: 8px;
  padding-left: 8px;
  height: 1.6rem;
  width: fit-content;
}
