@import "https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap";
.inventory {
  font-family: "Titillium Web", sans-serif;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  max-width: 60%;
  margin: auto;
}
@media (min-width: 768px) {
  .inventory {
    margin: 2rem;
    max-width: 100%;
  }
}
.inventory__header {
  font-size: 2rem;
}
.inventory__container {
  margin: auto;
}
@media (min-width: 768px) {
  .inventory__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.inventory__searchContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media (min-width: 768px) {
  .inventory__searchContainer {
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
  }
}
@media (min-width: 768px) {
  .inventory__tabletSearchContainer {
    display: flex;
  }
}
.inventory__searchbar {
  border-radius: 20px;
  background: url("../../assets/Icons/search-24px.svg") no-repeat;
  background-position: right;
  height: 36px;
  border-color: #bdc5d5;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .inventory__searchbar {
    height: 38px;
  }
}
@media (min-width: 768px) {
  .inventory__searchbar {
    display: inline;
    margin-right: 1rem;
    max-width: 11rem;
  }
}
.inventory__button {
  border-radius: 20px;
  background-color: #2e66e5;
  color: #ffffff;
  border: none;
  height: 36px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
}
@media (min-width: 768px) {
  .inventory__button {
    height: 38px;
  }
}
@media (min-width: 768px) {
  .inventory__button {
    margin: 0;
  }
}
.inventory__mobileContainer1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .inventory__mobileContainer1 {
    display: flex;
    flex-direction: row;
    flex: 2;
  }
}
.inventory__test {
  display: flex;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .inventory__test {
    flex: 2;
    padding-left: 0;
  }
}
.inventory__mobileContainer2, .inventory__mobileContainer3 {
  padding-right: 3.5rem;
}
@media (min-width: 768px) {
  .inventory__mobileContainer2, .inventory__mobileContainer3 {
    padding-right: 0;
    display: flex;
    flex-direction: row;
    flex: 3;
  }
}
.inventory__mobileContainer4 {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .inventory__mobileContainer4 {
    padding: 0;
  }
}
.inventory__iconTablet {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .inventory__iconTablet {
    justify-content: flex-start;
  }
}
.inventory__tabletFirstHeader {
  display: none;
}
@media (min-width: 768px) {
  .inventory__tabletFirstHeader {
    display: inline;
    background-color: #f7f8f9;
    font-size: 1rem;
    padding-top: 0.68rem;
    padding-bottom: 0.68rem;
    flex: 1;
  }
}
.inventory__tabletContainer1 {
  display: flex;
}
@media (min-width: 768px) {
  .inventory__tableHeader {
    display: none;
  }
}
.inventory__stock {
  list-style: none;
  background-color: rgba(21, 132, 99, 0.07);
  color: #158463;
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
  margin-top: 1rem;
}
.inventory__stock--red {
  list-style: none;
  background-color: rgba(201, 69, 21, 0.07);
  color: #c94515;
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
  margin-top: 1rem;
}
.inventory__table {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .inventory__table {
    flex: 1;
    padding-top: 0;
  }
}
.inventory__tableItems {
  list-style: none;
}
@media (min-width: 768px) {
  .inventory__tableItems {
    height: 3rem;
    margin-top: 1rem;
  }
}
.inventory__tableItems.out-of-stock {
  color: #c94515;
  background-color: rgba(201, 69, 21, 0.07);
}
.inventory__tableItems.in-stock {
  color: #158463;
  background-color: rgba(21, 132, 99, 0.07);
  border-radius: 20px;
  padding-right: 8px;
  padding-left: 8px;
  height: 1.6rem;
  width: -moz-fit-content;
  width: fit-content;
}
.inventory #itemName {
  color: #2e66e5;
  padding-left: 2rem;
}
.inventory #actions {
  display: none;
}
.inventory__listContainer {
  border-top: 2px solid #bdc5d5;
}
@media (min-width: 768px) {
  .inventory__listContainer {
    display: flex;
    flex: 1;
    border-top: none;
    border-bottom: 2px solid #bdc5d5;
    align-items: stretch;
  }
}
.inventory__sort {
  display: none;
}
@media (min-width: 768px) {
  .inventory__sort {
    display: inline;
  }
}/*# sourceMappingURL=Inventory.css.map */