@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory {
  padding-top: 2rem;
  background-color: $primary-white;
  font-family: "Titillium Web", sans-serif;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  width: 90%;
  margin: auto;
  margin-top: -4rem;

  overflow: hidden;

  @include tablet {
    max-width: 90%;
    margin-top: -5rem;
    overflow: hidden;
  }

  &__header {
    font-size: 2rem;
    padding-bottom: 1rem;
    @include tablet {
      flex: 2;
    }
  }
  &__container {
    margin: auto;

    @include tablet {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &__searchContainer {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__tabletSearchContainer {
    @include tablet {
      display: flex;
      flex: 2;
    }
  }

  &__searchbar {
    @include searchbar;
    display: flex;
    width: 100%;

    @include tablet {
      display: inline;
      margin-right: 1rem;
      // max-width: 11rem;
      flex: 2;
    }
  }

  &__button {
    @include button;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;

    @include tablet {
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__mobileContainer1 {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex: 2;
    }
  }
  &__test {
    display: flex;
    justify-content: space-around;
    @include tablet {
      flex: 2;
      padding-left: 0;
    }
  }
  &__chevron {
    width: 16px;
  }
  &__itemDetails {
    display: flex;
    align-items: center;
  }
  &__mobileContainer2,
  &__mobileContainer3 {
    @include tablet {
      padding-right: 0;
      display: flex;
      flex-direction: row;
      flex: 2;
    }
  }

  &__mobileContainer4 {
    padding-left: 2rem;
    padding-right: 2rem;
    @include tablet {
      padding: 0;
    }
  }

  &__iconTablet {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    @include tablet {
      justify-content: flex-start;
      padding-right: 1rem;
    }
  }

  &__icons {
    @include tablet {
      padding-right: 1.2rem;
    }
  }

  &__tabletHeader {
    display: none;

    @include tablet {
      display: inline;
      background-color: $background-light-grey;
      font-size: 0.7rem;
      font-weight: 600;
      color: $secondary-slate;
      padding-top: 0.68rem;
      padding-bottom: 0.68rem;
      flex: 1;
    }
  }

  &__tabletContainer1 {
    display: flex;
  }

  //hide regular headers
  &__tableHeader {
    min-width: fit-content;
    font-size: 0.7rem;
    @include tablet {
      display: none;
    }
  }
  &__stock {
    @include stock;
    background-color: rgba(21, 132, 99, 0.07);
    color: $supporting-green;
  }
  &__stock--red {
    @include stock;
    background-color: rgba(201, 69, 21, 0.07);
    color: $supporting-red;
  }

  &__table {
    padding-top: 1rem;
    @include tablet {
      flex: 1;

      padding-top: 0;
    }
  }
  &__tableItems {
    list-style: none;
    font-size: 0.8rem;

    @include tablet {
      height: 3rem;
      margin-top: 1rem;
    }
  }

  #itemName {
    color: $primary-indigo;
    text-decoration: none;

    @include tablet {
      padding-left: 2rem;
      flex: 1;
    }
  }

  #actions {
    display: none;
  }

  #TabletHeader {
    @include tablet {
      background-color: $background-light-grey;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  #firstItemHeader {
    padding-left: 2rem;
  }

  #status {
    @include tablet {
      flex: 0.7;
    }
  }

  #qty {
    @include tablet {
      flex: 0.8;
    }
  }

  #warehouse {
    @include tablet {
      flex: 0.9;
    }
  }

  #lastItemHeader {
    padding-top: 0.2rem;
    padding-right: 2.7rem;
    padding-left: 0;
  }
  &__listContainer {
    border-top: 2px solid $secondary-cloud;

    @include tablet {
      display: flex;
      flex: 1;
      border-top: none;

      border-bottom: 2px solid $secondary-cloud;
      align-items: stretch;
    }

    &:hover {
      background: rgba(46, 102, 230, 0.07);
    }
  }

  &__sort {
    display: none;
    @include tablet {
      display: inline;
      height: 1rem;
    }
  }
}
