@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.container{
    display: flex;
    flex-direction: column;

    &__list{
        display: inline;
        list-style: none;
    }
    &__li{

    }
}