@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouseInventories {
    box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
    margin: 1rem;

    @include tablet {
        margin: 2rem;
    }

    @include desktop {
        margin: 2rem 8.125rem;
    }
    &__header {
        display: flex;
        padding: 1.25rem 1rem;
        border-bottom: solid 1px $secondary-cloud;
        justify-content: space-between;
        @include tablet {
            padding: 1.5rem 2rem;
        }
    
        @include desktop {
            padding: 1.5rem 2.5rem;
        }
    }
}
.header {
    &__heading {
        display: flex;
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary-black;
        margin-left: 0.5rem;
    }
}
.warehouse {
    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-bottom: solid 1px $secondary-cloud;
        @include tablet {
            padding: 2.5rem 2rem;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: none;
        }
        @include desktop{
            justify-content: start;
        }
    
        @include desktop {
            padding: 1.5rem 2.5rem;
        }
    }
    &__title {
        font-size: 0.7rem;
        color: $secondary-slate;
        margin-bottom: 0.3rem;
        @include tablet{
            margin-bottom: 0.5rem;
        }
    }
    &__info {
        font-size: 0.78rem;
        @include tablet {
            font-size: 0.85rem;
        }
    }
    &__left {
        @include tablet{
            width: 50%;
            border-right: solid 1px $secondary-cloud;
        }
    }
    &__right{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        @include desktop{
            gap: 4rem;
        }
    }
}
.inventories {
    &__header {
        display: none;
        @include tablet {
            padding: 0.5rem 1rem;
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(247, 248, 249, 0.7);
            align-items: start;
            padding: 1rem 2rem;
        }
        @include desktop {
            padding: 1rem 2.5rem;
        }
    }
}

.inventory {
    &__item {
        border-bottom: solid 1px $secondary-cloud;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        @include tablet{
            align-items: start;
            padding: 1rem 2rem;
        }
        @include desktop {
            padding: 1rem 2.5rem;
        }
    }
    &__btn {
        background-color: white;
        border: none;
    }
    &__left {
        width: 50%;
        @include tablet {
            width: 45%;
            display: flex;
        }
    }
    &__right{
        width: 50%;
        @include tablet {
            width: 45%;
            display: flex;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include tablet{
            justify-content: start;
            width: auto;
            flex-grow: 1;
            justify-content: space-around;
        }
    }
}
.col {
    margin-bottom: 1rem;
    @include tablet {
        margin-bottom: 0;
        display: flex;
    }
    &__title {
        font-size: 0.7rem;
        color: $secondary-slate;
        margin-bottom: 0.3rem;

        @include tablet {
            margin-bottom: 0.5rem;
            display: none;
        }
    }

    &__info {
        font-size: 0.78rem;
        width:fit-content;
        @include tablet {
            font-size: 0.8rem;
        }
    }
    &__title-header {
        font-size: 0.8rem;
        color: $secondary-slate;
    }
    &__btn {
        margin-left: 0.2rem;
        width:17px;
    }
    &__inventory-name {
        color: $primary-indigo;
        font-weight: 600;
        display: flex;
        &__btn {
            width: 20px;
        }
    }
    &__stock {
        background-color: rgba(21, 132, 99, 0.07);
        color: $supporting-green;
        padding: 0.1rem 0.5rem;
        border-radius: 20px;
    }

    &__stock--red {
        background-color: rgba(201, 69, 21, 0.07);
        ;
        color: $supporting-red;
        padding: 0.1rem 0.5rem;
        border-radius: 20px;
    }
}
.w-50 {
    @include tablet {
        width: 50%;
    }
    
}
